In [2]:
import pandas as pd

In [3]:
ps = pd.read_csv('data.csv')

In [4]:
ps

     Students  27/1/2025
0      Zeeshan   Present
1       Rehman    Absent
2  Umer Farooq   Present
3        Hina    Present
4         Noor   Present
5       Tahira   Present
6         Duaa    Absent
7        Nimra    Absent