In [1]:
import pandas as pd

In [2]:
ps = pd.read_csv('attendence.csv')

In [3]:
ps

     Students  27/1/2025
0      Zeeshan   Present
1       Rehman    Absent
2  Umer Farooq   Present
3        Hina    Present
4         Noor   Present
5       Tahira   Present
6         Duaa    Absent
7        Nimra    Absent

In [5]:
data = {
    "Name": [
        "Usman",
        "Ali",
        "Skindar",
        "Mustafa"
    ],
    "Age": [
        "15",
        "24",
        "19",
        "17"
    ]
}

In [6]:
store = pd.DataFrame(data)

In [7]:
store

      Name Age
0    Usman  15
1      Ali  24
2  Skindar  19
3  Mustafa  17

In [10]:
store.to_csv('first.csv')